/deploy/apps/my-nginx/html/*
/deploy/apps/my-nginx/logs/*
/deploy/apps/my-nginx/sites-available/*
/deploy/apps/my-nginx/sites-enabled/*
/deploy/apps/my-nginx/ssl/*
/deploy/apps/**/temp/*

**/*.env

**/.idea/*