
.tooltip {
  position: absolute;
  display: inline-block;
  opacity: 0.9;
  background-color: #fff8dd;
  border-bottom: 1px dotted black;
  border-radius: 3px;
  padding: 0.5em 1em;
  z-index: 1000;
  font-size: 0.9em;
}

.tooltip_wrapper {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}